# Лабораторная работа 3.1.3

In [ ]:
# 20 щариков

In [21]:
# Задание 2
import pandas as pd
N = (11, 10, 9, 8, 7, 6, 5, 4)
n = (10 for _ in range(len(N)))
t = (44.25, 39.02, 35.38, 31.20, 27.95, 24.06, 20.62, 16.53)
totN = pd.DataFrame(zip(N, n, t))
print(totN)

    0   1      2
0  11  10  44.25
1  10  10  39.02
2   9  10  35.38
3   8  10  31.20
4   7  10  27.95
5   6  10  24.06
6   5  10  20.62
7   4  10  16.53

In [22]:
# Задание 3, m0 = 8.261
m = (8.432, 8.389, 8.337)
dm = (0.171, 0.128, 8.261-8.337)
N = (8, 6, 4)

MotN = pd.DataFrame(zip(N, m, dm))
MotN

   0      1      2
0  8  8.432  0.171
1  6  8.389  0.128
2  4  8.337 -0.076